# Reading in text data

### Read in semi-structured text data

### The dataset is taken from the UCI Machine Learning Repository

In [1]:
# Read in the raw text
rawData = open("SMSSpamCollection.tsv").read()

# Print the raw data
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [2]:
#convert to list

parsedData= rawData.replace('\t','\n').split('\n')

In [3]:
parsedData[:50]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham',
 "Nah I don't think he goes to usf, he lives around here though",
 'ham',
 'Even my brother is not like to speak with me. They treat me like aids patent.',
 'ham',
 'I HAVE A DATE ON SUNDAY WITH WILL!!',
 'ham',
 "As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune",
 'spam',
 'WINNER!! As a valued network customer you have been selected to receivea £900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.',
 'spam',
 'Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030',
 'ham',
 "I'm gonna be home soon and i don't want to talk about this stuff anymore tonight, k? I've cried enough today.",
 'spam',
 'SIX chances to win CASH! From 100 to 20,000 pounds txt> CSH11 and send to 87575. Cost 150p/day, 6days, 16+ TsandCs apply Reply HL 4 info',
 'spam',
 'URGENT! You have won a 1 week FREE membership in our £100,000 Prize Jackpot! Txt the word: CLAIM to No: 81010 T&C www.dbuk.net LCCLTD POBOX 4403LDNW1A7RW18',
 'spam',
 'XXXMobileMovieClub: To use your credit, click the WAP link in the next txt message or click here>> http://wap. xxxmobilemovieclub.com?n=QJKGIGHJJGCBL',
 'ham',
 "Oh k...i'm watching here:)",
 'ham',
 'Eh u remember how 2 spell his name... Yes i did. He v naughty make until i v wet.',
 'ham',
 'Fine if that\x92s the way u feel. That\x92s the way its gota b',
 'spam',
 'England v Macedonia - dont miss the goals/team news. Txt ur national team to 87077 eg ENGLAND to 87077 Try:WALES, SCOTLAND 4txt/ú1.20 POBOXox36504W45WQ 16+',
 'ham',
 'Is that seriously how you spell his name?',
 'ham',
 'I‘m going to try for 2 months ha ha only joking',
 'ham',
 'So ü pay first lar... Then when is da stock comin...',
 'ham',
 'Aft i finish my lunch then i go str down lor. Ard 3 smth lor. U finish ur lunch already?',
 'ham',
 'Ffffffffff. Alright no way I can meet up with you sooner?',
 'ham',
 "Just forced myself to eat a slice. I'm really not hungry tho. This sucks. Mark is getting worried. He knows I'm sick when I turn down pizza. Lol",
 'ham',
 'Lol your always so convincing.',
 'ham',
 "Did you catch the bus ? Are you frying an egg ? Did you make a tea? Are you eating your mom's left over dinner ? Do you feel my Love ?",
 'ham',
 "I'm back &amp; we're packing the car now, I'll let you know if there's room"]

In [4]:
#seperate label and text

labelList= parsedData[0::2]
textList = parsedData[1::2]

In [5]:
print(labelList[:5])
print(textList[:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [6]:
# Convert to dataframe
import pandas as pd

In [7]:
print(len(labelList))
print(len(textList))

5571
5570

In [9]:
labelList[-5:]

['ham', 'ham', 'ham', 'ham', '']

In [10]:
# Drop the empty label
labelList.remove('')

In [11]:
print(len(labelList))
print(len(textList))

5570
5570

In [14]:
fullCorpus= pd.DataFrame({
    'label': labelList,
    'body_text': textList
})

In [15]:
fullCorpus.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

### About the Dataset

In [16]:
print("Input data has {} rows and {} columns".format(len(fullCorpus),len(fullCorpus.columns)))

Input data has 5570 rows and 2 columns

In [18]:
print("Out of {} rows: {} are spam and {} are ham".format(len(fullCorpus),
                                                          len(fullCorpus[fullCorpus['label']=='spam']), 
                                                          len(fullCorpus[fullCorpus['label']=='ham'])))

Out of 5570 rows: 746 are spam and 4824 are ham

In [20]:
print("No of null in the label = {}".format(fullCorpus['label'].isnull().sum()))
print("No of null in the text = {}".format(fullCorpus['body_text'].isnull().sum()))

No of null in the label = 0
No of null in the text = 0